
@{
    ViewBag.Title = "Malzeme Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="content">
    <div class="content-heading d-flex justify-content-between align-items-center">
        <span>
            @ViewBag.Title
        </span>
    </div>
    <!-- Dynamic Table Full Pagination -->
    <div class="block block-rounded">
        <div class="block-content block-content-full">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Malzeme Adı</th>
                        <th>Birim Tipi</th>
                        <th>Son Kullanma Tarihi</th>
                        <th>Minimum Stok</th>
                        <th>Mevcut Stok</th>
                        <th>Maksimum Stok</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody id="materialTableBody">
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Dynamic Table Full Pagination -->
</div>
@section Js{
    <script src="~/Javascripts/Pages/Material/material.js"></script>
}

