
@{
    ViewBag.Title = "Yetki Hatası";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/Template/assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Template/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Template/assets/media/favicons/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap">
    <link rel="stylesheet" id="css-main" href="~/Template/assets/css/codebase.min.css">


</head>
<body>
    <div id="page-container" class="main-content-boxed">

        <!-- Main Container -->
        <main id="main-container">
            <!-- Page Content -->
            <div class="hero bg-body-extra-light">
                <div class="hero-inner">
                    <div class="content content-full">
                        <div class="py-4 text-center">
                            <div class="display-1 fw-bold text-info">
                                <i class="fa fa-lock opacity-50 me-1"></i> 401
                            </div>
                            <h1 class="fw-bold mt-5 mb-2">Yetkiniz Bulunmamaktadır!..</h1>
                            <h2 class="fs-4 fw-medium text-muted mb-5">Üzgünüz bu sayfa için yetkiniz bulunmamaktadır!..</h2>
                            <a class="btn btn-lg btn-alt-secondary" href="@Url.Action("Index","Home")">
                                <i class="fa fa-arrow-left opacity-50 me-1"></i> Anasayfaya Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <!--
        Codebase JS

        Core libraries and functionality
        webpack is putting everything together at assets/_js/main/app.js
    -->
    <script src="~/Template/assets/js/codebase.app.min.js"></script>
</body>
</html>