USE [HotCatDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUserRoles]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppUserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AppUserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NULL,
	[ActivationCode] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_dbo.AppUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CafeTables]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CafeTables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](255) NOT NULL,
	[TableLocation] [int] NOT NULL,
	[Capacity] [smallint] NOT NULL,
	[TableStatus] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CafeTables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsExistSubCategory] [bit] NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[TaxNo] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[DepartmentId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](255) NOT NULL,
	[UnitType] [int] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[StockId] [int] NULL,
	[ProductId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[ProductId] [int] NULL,
	[OrderId] [int] NULL,
	[AppUserId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderName] [nvarchar](255) NOT NULL,
	[OrderNumber] [nvarchar](255) NOT NULL,
	[OrderStatus] [int] NOT NULL,
	[CafeTableId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageRoles]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PageRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Path] [nvarchar](255) NOT NULL,
	[ParentId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsExistSubMenu] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Pages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[ProductImagePath] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipts]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[Id] [int] NOT NULL,
	[ReceiptNumber] [smallint] NOT NULL,
	[Discount] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[PaymentType] [int] NOT NULL,
	[CompanyId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Receipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 20.07.2022 20:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockName] [nvarchar](255) NOT NULL,
	[MinInStock] [decimal](18, 2) NOT NULL,
	[MaxInStock] [decimal](18, 2) NOT NULL,
	[UnitInStock] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Stocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppUserRoles] ON 

INSERT [dbo].[AppUserRoles] ([Id], [AppUserId], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[AppUserRoles] ([Id], [AppUserId], [RoleId]) VALUES (2, 3, 2)
INSERT [dbo].[AppUserRoles] ([Id], [AppUserId], [RoleId]) VALUES (3, 1, 5)
SET IDENTITY_INSERT [dbo].[AppUserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[AppUsers] ON 

INSERT [dbo].[AppUsers] ([Id], [UserName], [Password], [ActivationCode], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [EmployeeId]) VALUES (1, N'Tubik', N'12345', N'db1ccb7e-e06c-4b12-b45d-05fe9267084c', CAST(N'2022-07-15T00:20:19.287' AS DateTime), 0, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[AppUsers] ([Id], [UserName], [Password], [ActivationCode], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [EmployeeId]) VALUES (3, N'berkan.bugday', NULL, N'1311259e-5b33-4a8f-a657-f78fbccff8d2', CAST(N'2022-07-15T00:38:32.443' AS DateTime), 1, NULL, NULL, CAST(N'2022-07-15T00:41:47.687' AS DateTime), 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[AppUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [Description], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [IsExistSubCategory], [ParentId]) VALUES (1, N'İçecek', N'sıcak ve soğuk içecekler', CAST(N'2022-07-20T00:18:03.553' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, 1, NULL)
INSERT [dbo].[Categories] ([Id], [CategoryName], [Description], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [IsExistSubCategory], [ParentId]) VALUES (2, N'Sıcak İçecek', N'sıcak içecek', CAST(N'2022-07-20T19:47:57.973' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[Categories] ([Id], [CategoryName], [Description], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [IsExistSubCategory], [ParentId]) VALUES (3, N'Soğuk İçecek', N'soğuk içecek', CAST(N'2022-07-20T19:47:57.973' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [Address], [PhoneNumber], [Email], [DepartmentId], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [EmployeeId]) VALUES (1, N'berkan', N'bugday', N'deneme', N'5328764778', N'karadut.tuba@gmail.com', NULL, CAST(N'2022-07-15T00:38:21.267' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[PageRoles] ON 

INSERT [dbo].[PageRoles] ([Id], [PageId], [RoleId]) VALUES (2, 3, 5)
INSERT [dbo].[PageRoles] ([Id], [PageId], [RoleId]) VALUES (3, 4, 5)
INSERT [dbo].[PageRoles] ([Id], [PageId], [RoleId]) VALUES (4, 6, 5)
SET IDENTITY_INSERT [dbo].[PageRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([Id], [Name], [Path], [ParentId], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [IsExistSubMenu]) VALUES (3, N'Anasayfa', N'/', NULL, CAST(N'2022-07-17T16:53:13.203' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[Pages] ([Id], [Name], [Path], [ParentId], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [IsExistSubMenu]) VALUES (4, N'Kategori', N'#', NULL, CAST(N'2022-07-18T22:22:45.040' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Pages] ([Id], [Name], [Path], [ParentId], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [IsExistSubMenu]) VALUES (6, N'Kategori Liste', N'/Category/List', 4, CAST(N'2022-07-18T22:22:45.040' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [UnitPrice], [ProductImagePath], [Description], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [CategoryId]) VALUES (1, N'Sütlü Kahve', CAST(25.00 AS Decimal(18, 2)), NULL, N'Sütlü aramalı', CAST(N'2022-07-20T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Products] ([Id], [ProductName], [UnitPrice], [ProductImagePath], [Description], [CreatedDate], [CreatedById], [DeletedDate], [DeletedById], [ModifiedDate], [ModifiedById], [IsActive], [CategoryId]) VALUES (3, N'Sade Kahve', CAST(20.00 AS Decimal(18, 2)), NULL, N'Sade', CAST(N'2022-07-20T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Waiter')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [IsExistSubCategory]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((0)) FOR [IsExistSubMenu]
GO
ALTER TABLE [dbo].[AppUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppUsers_AppUserId] FOREIGN KEY([AppUserId])
REFERENCES [dbo].[AppUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUserRoles] CHECK CONSTRAINT [FK_dbo.AppUserRoles_dbo.AppUsers_AppUserId]
GO
ALTER TABLE [dbo].[AppUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUserRoles] CHECK CONSTRAINT [FK_dbo.AppUserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.AppUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.AppUsers_Id]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Materials_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_dbo.Materials_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Materials_dbo.Stocks_StockId] FOREIGN KEY([StockId])
REFERENCES [dbo].[Stocks] ([Id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_dbo.Materials_dbo.Stocks_StockId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.AppUsers_AppUserId] FOREIGN KEY([AppUserId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.AppUsers_AppUserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.CafeTables_CafeTableId] FOREIGN KEY([CafeTableId])
REFERENCES [dbo].[CafeTables] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.CafeTables_CafeTableId]
GO
ALTER TABLE [dbo].[PageRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PageRoles_dbo.Pages_PageId] FOREIGN KEY([PageId])
REFERENCES [dbo].[Pages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PageRoles] CHECK CONSTRAINT [FK_dbo.PageRoles_dbo.Pages_PageId]
GO
ALTER TABLE [dbo].[PageRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PageRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PageRoles] CHECK CONSTRAINT [FK_dbo.PageRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Receipts_dbo.Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_dbo.Receipts_dbo.Companies_CompanyId]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Receipts_dbo.Orders_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_dbo.Receipts_dbo.Orders_Id]
GO
