
@{
    ViewBag.Title = "Çalışan Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <form class="js-validation" id="addEmployeeForm" method="POST">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">@ViewBag.Title</h3>
            </div>
            <div class="block-content block-content-full">
                <div class="row items-push">
                    <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3">
                        <div class="mb-4">
                            <label class="form-label" for="firstName">Adı <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="firstName" name="firstName" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="lastName">Soyadı <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="address">Adres</label>
                            <textarea class="form-control" id="address" name="address" rows="5"></textarea>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="phoneNumber">Telefon</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="email">Email <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="employeeDepartment">Departmanı <span class="text-danger">*</span></label>
                            <select class="form-select" id="employeeDepartment" name="employeeDepartment">
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Submit -->
                <div class="row items-push">
                    <div class="col-lg-7">
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </div>
                </div>
                <!-- END Submit -->
            </div>
        </div>
    </form>

    <!-- Normal Modal -->
    <div class="modal fade" id="appUserCreateModal" tabindex="-1" role="dialog" aria-labelledby="modal-normal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="block block-rounded shadow-none mb-0">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Kullanıcı Oluştur</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content fs-sm">
                        <div class="mb-4">
                            <label class="form-label" for="appUserRoles">Kullanıcı Rolleri <span class="text-danger">*</span></label>
                            <select class="js-select2 form-select" id="appUserRoles" name="appUserRoles" style="width: 100%;" data-placeholder="Lütfen Kullanıcı Rolleri Seçiniz..." multiple>
                            </select>
                        </div>
                    </div>
                    <div class="block-content block-content-full block-content-sm text-end border-top">
                        <button type="button" id="addEmployee" class="btn btn-alt-danger" data-bs-dismiss="modal">
                            Kullanıcı Oluşturma!
                        </button>
                        <button type="button" id="addAppUser" class="btn btn-alt-primary" data-bs-dismiss="modal">
                            Kullanıcı Oluştur
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Normal Modal -->
</div>

@section Js{

    <script src="~/Javascripts/Pages/Employee/employee.js"></script>
}
