
@{
    ViewBag.Title = "Çalışan Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <!-- Dynamic Table Full Pagination -->
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">
                @ViewBag.Title
            </h3>
        </div>
        <div class="block-content block-content-full">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Çalışan Adı</th>
                        <th>Çalışan Soyadı</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Email</th>
                        <th>Departman</th>
                        <th id="process">İşlemler</th>
                    </tr>
                </thead>
                <tbody id="employeeTableBody">
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Dynamic Table Full Pagination -->
</div>

@section Js{
   
    <script src="~/Javascripts/Pages/Employee/employee.js"></script>
}



