
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <form class="js-validation" id="updateEmployeeForm" method="POST">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">@ViewBag.Title</h3>
            </div>
            <div class="block-content block-content-full">
                <div class="row items-push">
                    <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3">
                        <div class="mb-4">
                            <label class="form-label" for="firstName">Çalışan Adı <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="firstName" name="firstName" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="lastName">Çalışan Soyadı <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="address">Adres<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="address" name="address">
                        </div> <div class="mb-4">
                            <label class="form-label" for="phoneNumber">Telefon <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                        </div> <div class="mb-4">
                            <label class="form-label" for="email">Email Adresi <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="employeeDepartment">Departmanı</label>
                            <select class="form-select" id="employeeDepartment" name="employeeDepartment">
                                <option value="">-</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Submit -->
                <div class="row items-push">
                    <div class="col-lg-7">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>
                </div>
                <!-- END Submit -->
            </div>
        </div>
    </form>
</div>

@section Js{

    <script src="~/Javascripts/Pages/Employee/updateEmployee.js"></script>
}


