
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Giriş</title>

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/Template/assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Template/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Template/assets/media/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap">
    <link rel="stylesheet" id="css-main" href="~/Template/assets/css/codebase.min.css">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>
<body>
    <!-- Page Container -->
    <div id="page-container" class="main-content-boxed">

        <!-- Main Container -->
        <main id="main-container">
            <!-- Page Content -->
            <div class="bg-image" style="background-image: url('../../Template/assets/media/photos/photo34@2x.jpg');">
                <div class="row mx-0 bg-black-50">
                    <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
                        <div class="p-4">
                            <p class="text-white-75 fw-medium">
                                Copyright &copy; <span data-toggle="year-copy"></span>
                            </p>
                        </div>
                    </div>
                    <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-body-extra-light">
                        <div class="content content-full">
                            <!-- Header -->
                            <div class="px-4 py-2 mb-4">
                                <a class="link-fx fw-bold" href="javascript:void()">
                                    <span class="fs-4 text-body-color">Hot</span><span class="fs-4">Cat</span>
                                </a>
                                <h1 class="h3 fw-bold mt-4 mb-2">Giriş</h1>
                                <h2 class="h5 fw-medium text-muted mb-0">Lütfen zorunlu alanları doldurunuz!</h2>
                            </div>
                            <!-- END Header -->
                            <!-- Sign In Form -->
                            <!-- jQuery Validation functionality is initialized with .js-validation-signin class in js/pages/op_auth_signin.min.js which was auto compiled from _js/pages/op_auth_signin.js -->
                            <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                            <form id="loginForm" class="js-validation-signin px-4" method="post">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="login-username" name="login-username" placeholder="Enter your username">
                                    <label class="form-label" for="login-username">Kullanıcı Adı</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Enter your password">
                                    <label class="form-label" for="login-password">Şifre</label>
                                </div>
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-lg btn-alt-primary fw-semibold">
                                        Giriş Yap
                                    </button>
                                    <div class="mt-4">
                                        <a class="fs-sm fw-medium link-fx text-muted me-2 mb-1 d-inline-block" href="#">
                                            Şifremi Unuttum!
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <!-- END Sign In Form -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
    <!--
        Codebase JS

        Core libraries and functionality
        webpack is putting everything together at assets/_js/main/app.js
    -->
    <script src="~/Template/assets/js/codebase.app.js"></script>

    <!-- jQuery (required for Select2 + jQuery Validation plugins) -->
    <script src="~/Template/assets/js/lib/jquery.min.js"></script>

    <!-- Page JS Plugins -->
    <script src="~/Template/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Template/assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Page JS Code -->
    @*<script src="~/Template/assets/_js/pages/op_auth_signin.js"></script>*@

    <script src="~/Javascripts/Pages/Login/login.js"></script>

    <!-- Page JS Helpers (BS Notify Plugin) -->
    <script>Codebase.helpersOnLoad(['jq-notify']);</script>


</body>
</html>